#title {
  text-align: center;
  font-family: Calibri;
  font-weight: 800;
  font-size: 40px;
  padding-top: 20px;
}

strong {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: Calibri;
  font-weight: 300;
}

p {
  text-align: justify;
  padding: 20px;
}

.top {
  background-color: rgb(235,235,235);
  background: linear-gradient(90deg, rgba(123,123,123,1) 0%, rgba(195,195,197,1) 33%, rgba(234,239,240,1) 100%);
  
  border-radius: 5px;

}

a {
  text-decoration: none;
color: black;
}

a:hover {
  color: grey;
}

#main {
  width: 100%;
  justify-content: center;
}

#img-div {
  background-color: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(123,123,123,1) 0%, rgba(195,195,197,1) 33%, rgba(234,239,240,1) 100%);
margin: -30px auto;
}

#image {
  filter: grayscale(0.8);
  border-radius: 25px;
  scale:0.85;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}


#img-caption {
  font-family:trebuchet MS;
  font-size: 0.8em;
  text-align: center;
}

#tribute-info {
  font-family:trebuchet MS;
  padding: 35px 0;
  margin-top: 40px;
}

#quote {
  font-family: papyrus;
  font-weight: 600;
}

#quote-end {
  font-family: papyrus;
  font-weight: 600;
  text-align: right;
  margin-top: -30px;
}

#tribute-link, #wiki {
  font-family:trebuchet MS;  
  text-align: center;
  margin-bottom: -40px;
}